html,body{
    height: 100%;
    border: 0;
    padding: 0;
}
.flexbox {
    display: flex;
    text-align: center;
    text-rendering: auto;
    flex-direction: row;
    text-size-adjust: auto;
    justify-content: center;
    background-color: #2e3c8a; 
    height: 100%";
}
.display-3 {
    font-size: auto;
    font-weight: 300;
    line-height: 1.2;
}

.medio{
    width: 50%;
    height: 50%;
}
